/.DS_Store
/ApplesToApples.py
/ApplesToApplesFunctions.py
/FAUCART.py
/FENGSHA_SOILGRIDS2017_GEFSv12_v1.2-2_M2gridsize.nc
/Flux_calculator.py
/HistogramDriver.py
/HistogramDriver_Years.py
/ISDWind
/ISD_Downloader.py
/MERRA2Downloader.py
/MERRA2_401.tavg1_2d_lnd_Nx.20200928.SUB.nc
/MERRA2_401.tavg1_2d_lnd_Nx.20200929.SUB.nc
/MERRA2_401.tavg1_2d_lnd_Nx.20200930.SUB.nc
/MERRA2_Functions.py
/Parallelizer.py
/README.rtf
/SingleStation.csv
/TEST.py
/__pycache__
/applesForApples.py
/gocart.dust_source.v5a.x1152_y721.nc
/mergedSoilWetness.nc
/mergedSoilWetness.nc.pid56083.ncecat.tmp
/my_ISD_Functions.py
/stations_Taklamakan.csv